:root {
    --header-font: 'Special Elite', monospace;
    --body-font: 'Inconsolata', monospace;
}


body {
    background-image: url("https://images.unsplash.com/photo-1498612753354-772a30629934?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80");
    background-size: cover;
}


/*Letters/Pages background divs style*/

.letter {
    background: #fff;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
    margin: 5% auto 5%;
    /* max-width: 90%; */
    min-height: 33%;
    padding: 5%;
    position: relative;
    width: 65vw;
    height: 95%;
    padding: 5%;

    display: grid;
    grid-template: auto auto auto auto / auto;
    grid-template-areas:
        "header"
        "mission"
        "products"
        "team"
        "footer";
    grid-row-gap: 2em;
}

.letter:before,
.letter:after {
    content: "";
    height: 95%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.letter:before {
    background: #fafafa;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
    left: -5px;
    top: 10px;
    transform: rotate(-2.5deg);
}

.letter:after {
    background: #f6f6f6;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
    right: -3px;
    top: 7px;
    transform: rotate(1.4deg);
}


/*Header grid*/

#header {
    margin-top: 5% auto;
    display: grid;
    grid-template: auto auto / 10% 85%;
    grid-template-areas:
        "logo main-title"
        "logo nav";
    height: 20%;
    text-align: center;
    grid-gap: 2em;
}

.logo {
    grid-area: logo;
    height: 100%;
    justify-self: center;
    /* padding-left: 10%; */
}

#main-title {
    grid-area: main-title;
    font-weight: 100;
    width: 100%;
}




.typewriter {
    display: inline-block;
    font-family: var(--header-font);
}

.typewriter h1 {
    color: #000;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */

    border-right: .1em solid black;
    /* The typwriter cursor */

    white-space: nowrap;
    /* Keeps the content on a single line */

    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */

    letter-spacing: .15em;
    font-size: 3em;
    animation:
        typing 2.75s steps(30, end),
        blink-caret .8s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    30% {
        border-color: black
    }
}


/*Navbar*/


a {
    text-decoration: none;
    color: white;
    scroll-behavior: smooth;
}

a:visited {
    color: white;
}

.nav {
    grid-area: "nav";
    display: grid;
    grid-template: auto / auto auto auto auto;
    grid-template-areas: "home mission products team";
    font-family: var(--header-font);
    justify-content: space-around;
    background-color: black;
    color: white;
    place-items: center center;
    padding: .75em;
    width: 100%;
}

#nav-home {
    grid-area: home;
}

#nav-products {
    grid-area: products;
}

#nav-mission {
    grid-area: mission;
}

#nav-team {
    grid-area: team;
}

.nav-item:hover {
    text-decoration: underline;
}


/*Sections Layout*/

.section {
    width: 90%;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.5em;
    text-align: center;
    margin: 0 auto;
    grid-gap: 1em;
}

.subtitle {
    font-family: var(--header-font);
    text-align: center;
    grid-area: subtitle;
}

.section p {
    font-family: var(--body-font);
}

/*Mission*/

#mission {
    background-image: url("https://images.unsplash.com/photo-1494825514961-674db1ac2700?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    background-position: 50% 45%;
    grid-area: mission;
}

#mission p {
    text-indent: 2em;
    padding: 0 5em 10em;
}


/*Products*/

#products {
    grid-area: products;
    display: grid;
    grid-template: auto auto auto / 40% 40%;
    grid-template-areas:
        "subtitle subtitle"
        "gifts office"
        "art household";
    justify-content: center;
}

.item {
    width: 95%;
    box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 .2em rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.item:hover {
  cursor: pointer;
}

#office {
    grid-area: office;
}

#gifts {
    grid-area: gifts;
}

#household {
    grid-area: household;
}

#art {
    grid-area: art;
}


/*Sales Staff*/

#team {
    grid-area: team;
    display: grid;
    grid-template: auto auto / auto auto auto auto;
    grid-template-areas:
        "subtitle subtitle subtitle subtitle"
        "michael dwight jim pam";
    justify-content: space-around;
    grid-column-gap: 2em;
    grid-row-gap: 0;
}

#team .subtitle {
    margin-bottom: 0;
}

.portrait {
    width: 90%;
}

.staff {
    padding: 1em;
    border: 1px solid darkgray;
    background-size: cover;
    background-clip: content-box;
    box-sizing: border-box;
    position: relative;
    margin: auto;
    top: 2em;
    box-shadow:
}

.staff:after {
    content: "";
    display: block;
    position: absolute;
    border: 50px solid transparent;
    border-bottom: 50px solid #fefefe;
    bottom: -60px;
    right: -65px;
    box-shadow: 0px 7px 6px -9px black;
    transform: rotate(135deg);
}

.staff:before {
    content: "";
    display: block;
    position: absolute;
    border: 50px solid transparent;
    border-top: 50px solid #fefefe;
    top: -60px;
    left: -65px;
    box-shadow: 0px -7px 6px -9px black;
    transform: rotate(135deg);
}

#michael {
    grid-area: michael;
}

#dwight {
    grid-area: dwight;
}

#jim {
    grid-area: jim;
}

#pam {
    grid-area: pam;
}


#scroll-button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 2.5em;
    display: none;
    position: fixed;
    right: 2%;
    bottom: 5%;
    transition: opacity 1s;
}

#scroll-button p {
    font-size: 10px;
    font-family: var(--body-font);
    margin: 0 auto 1em;
    text-align: center;
}
